.a-graph-result{
    max-width: 500px;
    max-height: 500px;
    width:100%;
    //height:285px;
    margin:0 auto;
    height: 25rem;
    @include mq('desktop', 'max'){
        //width:20rem;
        height:20rem;
    }
    @include mq('tablet', 'max'){
        //width: 15rem;
        height: 15rem;
    }
    @include mq('phone', 'max'){
        //width:10rem;
        height:10rem;
    }
}