$primary-color:#192b3c;
$secondary-color:#243e56;
$light-color:#FFFFF8;
$color_white: #fff;
$accent1-color:#EB3E4A;
$accent2-color:#21BEDA;

$lightgrey-color:#939393;
$grey-color: #333333;
$darkgrey-color: #252526;
$darkestgrey-color: #1e1e1e;
