/*.m-button{
    border:none;
    border-radius:3px;
    background:none;
    cursor:pointer;
    //padding:25px 80px;
    display:inline-block;
    margin:5px 10px 5px 0;
    text-transform:uppercase;
    font-size:1rem;
    letter-spacing: 1px;
    text-decoration: none;
    //font-weight:700;
    outline:none;
    position:relative;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    
    &:after{
        content:'';
        position:absolute;
        z-index:-1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn:before {
        //font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }

    &.m-button--primary,
    &.m-button--secondary{
        background: $accent2-color;
        color: #fff;
        //border-radius:3px;
        box-shadow: 0 3px darken($accent2-color, 10%);
        padding:5px 10px 5px 70px;

        & .m-button--a{
            overflow:hidden;

            &:before{
                position:absolute;
                left:0;
                width:40%;
                font-size:160%;
                line-height: 0.8;
                color:darken($accent2-color,10%);
            }

            &.btn-activated{
                -webkit-animation: fadeOutText 0.5s;
                -moz-animation: fadeOutText 0.5s;
                animation: fadeOutText 0.5s;

                &:before {
                    -webkit-animation: moveToRight 0.5s;
                    -moz-animation: moveToRight 0.5s;
                    animation: moveToRight 0.5s;
                }
            }
            
        }
    }

    &.m-button--secondary{
        background-color: $accent1-color;
        box-shadow: 0 3px darken($accent1-color, 10%);
    }
}

.m-button--card{
    border:none;    
    //border-radius:3px;
    padding:5px;
    background:none;
    cursor:pointer;
    //padding:25px 80px;
    display:inline-block;
    text-transform:uppercase;
    font-size:1rem;
    letter-spacing: 1px;
    text-decoration: none;
    //font-weight:700;
    outline:none;
    position:relative;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;

    .btn:before {
        //font-family: 'icomoon';
        content:"coucou";
        //speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }

    &.m-button--card--primary{
        //border: 2px solid $accent2-color;
        background-color: $accent2-color;
        color:#fff;
    }

    &.m-button--card--secondary{
        //border: 2px solid $accent1-color;
        background-color: $accent1-color;
        color:#fff;
    }
}*/

.m-button-group{
    display:block;
    margin-top:15px;
    clear:both;

    &:after {
        content: "";
        clear: both;
        display: table;
    }

}

.m-button,
.m-button-group a,
.m-button-group button {
    //border: 1px solid darken($accent2-color, 10%);
    border:none;
    border-radius:3px;
    display:inline-block;
    margin:0 5px 5px 0;
    background-color: $accent2-color;
    box-shadow: 0 3px darken($accent2-color, 10%);
    color: white !important;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 1px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    transition:all .2s ease-in;

    a:not(:last-child) {
        border-right: none;
    }

    /*&:after {
        content: "";
        clear: both;
        display: table;
    }*/
    i{
        display:none;
        fill:#fff;
        height:5px;
        position:absolute;
        right:5px;
    }

    &:hover {
        background-color: darken($accent2-color, 10%);
        padding-right: 23px;
        i{
            display: inline-block;
        }
    }

    &.m-button-group--secondary{
        background-color: $accent1-color;
        box-shadow: 0 3px darken($accent1-color, 20%);
        //padding: 7px 10px;
    }

    @include mq('phablet','max') { 
        display: block;
        width:100%;
        text-align: center;
    }

}

.m-button{
    float:none;
}

.m-button:disabled{
    background-color: $lightgrey-color;
    box-shadow: 0 3px darken($lightgrey-color, 20%);
    color:darken($lightgrey-color, 20%) !important;    
}


