.m-dropzone{
    border:2px dashed lighten($grey-color,70%);
    background-color: rgba(255,255,255,0.5);
    margin:1rem 0;
    padding:1rem;
    width:100%;
    max-width:720px;
    cursor:pointer;

    ul{
        list-style: none;
        padding:0;
        margin:0;
    }

    &__tip h3{
        text-align: center;
        color:lighten($grey-color,50%);
    }

    &__info{
        text-align: center;
        color:lighten($grey-color,50%);
    }
}