.m-form{

    fieldset{
        border:none;
        background-color: rgba(255,255,255,0.8);
        border-radius:2px;
        max-width:1024px;
        padding:1rem;
        margin: 1rem 0;
    }

    input,
    select{
        display: inline-block;
        width:100%;
        padding:0 1rem;
        line-height: 50px;
        height:50px;
        background:$light-color;
        //border:solid 1px #e6e6e6;
        border:none;
        border-bottom: 2px solid;
        border-bottom-color: #e6e6e6;
        border-bottom-width:2px;
        border-radius:2px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        outline:none;
    }

    input[type="radio"]{
        height:20px;
    }

    /*input:not(:last-child){
        margin-bottom: 20px;
    }*/

    input[type="email"]:focus,
    input[type="email"]:active,
    input[type="password"]:focus,
    input[type="password"]:active,
    input[type="text"]:focus,
    input[type="text"]:active
    input[type="textarea"]:focus,
    input[type="textarea"]:active,
    select:focus,
    select:active{
        border-color:$accent2-color;
        border-bottom-width:3px;
        line-height: 49px;
        height:49px;
    }

    button[type="submit"],
    &__cancel{
        position:relative;
        width:50%;
        max-width:360px;
        padding:0 20px;
        line-height: 50px;
        height:50px;
        z-index:1;
        display:inline-block;
        padding:0 20px;
        background-color:$accent2-color;
        /*background-size: 20px 20px;
        background-image: -webkit-linear-gradient(
            45deg,
            rgba(255,255,255,0.15) 25%,
            rgba(0,0,0,0) 25%,
            rgba(0,0,0,0) 50%,
            rgba(255,255,255,0.15) 50%,
            rgba(255,255,255,0.15) 75%,
            rgba(0,0,0,0) 75%,
            rgba(0,0,0,0)            
        );*/
        border: solid 1px darken($accent2-color, 10%);
        border-bottom-width:3px;
        color:#fff;
        outline:none;
        text-align:center;
        text-decoration:none;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    &__cancel{
        background-color: $accent1-color;
        border: solid 1px darken($accent1-color, 10%);
        border-bottom-width:3px;
    }

    button[type="submit"]:hover{
        background-size:30px 30px;
    }

    label{
        display: block;
        width:100%;
        font-size: 1.2rem;
        padding: 1rem;
        border-bottom: dashed 1px e6e6e6;
    }

    &__error{
        padding:1rem;
        background-color: $accent1-color;
        color:#fff;
    }

}