.m-form{

    padding-bottom:2rem;

    fieldset{
        border:none;
        background-color: rgba(255,255,255,0.8);
        border-radius:2px;
        max-width:1024px;
        padding:1rem;
        margin: 1rem 0;
    }

    input,
    select,
    textarea,
    {
        display: inline-block;
        width:100%;
        padding:0 1rem;
        line-height: 50px;
        height:50px;
        background:$light-color;
        //border:solid 1px #e6e6e6;
        border:none;
        border-bottom: 2px solid;
        border-bottom-color: #e6e6e6;
        border-bottom-width:2px;
        border-radius:2px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        outline:none;
    }

    textarea{
        height:auto;
    }

    input[type="radio"]{
        height:20px;
    }

    /*input:not(:last-child){
        margin-bottom: 20px;
    }*/

    input[type="email"]:focus,
    input[type="email"]:active,
    input[type="password"]:focus,
    input[type="password"]:active,
    input[type="text"]:focus,
    input[type="text"]:active
    input[type="textarea"]:focus,
    input[type="textarea"]:active,
    select:focus,
    select:active{
        border-color:$accent2-color;
    }

    button[type="submit"],
    &__cancel{
        position:relative;
        width:50%;
        max-width:360px;
        padding:0 20px;
        line-height: 50px;
        height:50px;
        z-index:1;
        display:inline-block;
        padding:0 20px;
        background-color:$accent2-color;
        border:none;
        border-bottom:solid 3px darken($accent2-color, 10%);
        color:#fff;
        outline:none;
        text-align:center;
        text-decoration:none;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius:5px 0 0 5px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover{
            background-color: darken($accent2-color, 10%);
        }
    }

    &__cancel{
        background-color: $accent1-color;
        border-radius:0 5px 5px 0;
        border-bottom:solid 3px darken($accent1-color, 10%);

        &:hover{
            background-color: darken($accent1-color, 10%);
        }
    }

    button[type="submit"]:hover{
        background-size:30px 30px;
    }

    label{
        display: block;
        width:100%;
        font-size: 1.2rem;
        padding: 1rem;
        border-bottom: dashed 1px e6e6e6;
    }

    &__error{
        padding:1rem;
        background-color: $accent1-color;
        color:#fff;
    }

    ul{
        list-style: none;
        padding:0;
        margin:0;
    }

    label.toggle-1,
    label.toggle-2{
        width:auto !important;
        padding:0;
        margin-bottom:15px;
    }

    .toggle-2{
        display: inline-block;
        vertical-align: top;
        //margin: 0 15px 0 0;

        &__input{
            display:none;
            width:200px !important;

            &.toggle-2--true:checked + .toggle-2__button{
                background-color: $accent2-color;
                border-color: $accent2-color;
                color: #ffffff;

                &:before{
                    background: #ffffff;
                }

            }

            &.toggle-2--false:checked + .toggle-2__button{
                background-color: $accent1-color;
                border-color: $accent1-color;
                color: #ffffff;

                &:before{
                    background: #ffffff;
                }

            }

        }

        &__button{
            position: relative;
            display: inline-block;
            line-height: 20px;
            text-transform: uppercase;
            background-color: #ffffff;
            color: #aaaaaa;
            border: 1px solid #cccccc;
            padding: 5px 10px 5px 30px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:before{
                position: absolute;
                top: 10px;
                left: 10px;
                right: auto;
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: #cccccc;
                content: "";
                transition: all 0.3s ease;
            }

        }
    }

}