.m-tab-list{
    border-bottom: 2px solid $accent2-color;
    padding-left: 0;
}

.m-tab-list__item{

    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    border:1px solid #ccc;
    border-bottom:none;
    cursor:pointer;
    transform: all .3s ease-out;

    &:first-child{
        border-radius: 5px 0 0 5px;
    }

    &:last-child{
        border-radius: 0 5px 5px 0;
    }

    &--active{
        //background-color: white;
        background-color: $accent2-color;
        color:#fff;
        border: solid $accent2-color;
        border-width: 1px 1px 0 1px;
    }

}