.o-content{
    display: block;
    position:relative;
    width:100%;    
    padding: 4rem 0;
    z-index:0;

    @include mq('tablet') {
        padding: 4rem 1% 0 5em;
    }

    @include mq('tablet-wide') {
        padding: 4rem 1% 0 16em;
    }

    /*@include mq('ultra-wide') {
        padding: 2rem 1% 0 16%;
    }

    @include mq('xxx-wide') {
        padding: 2rem 1% 0 13.5%;
    }*/
    
    & &{
        padding:0;
    }

    /*& .o-content--add{
        //background-color: $accent2-color;
        border: 5px solid $accent2-color;
        border-radius: 3px;
        margin:60px 0 2em 0;
        padding:10px;

        &:before{
            content:"";
            width:50px;
            height:50px;
            background-color: $accent2-color;
            position:absolute;
            top:-50px;
            left:-5px;
        }
    }*/
}