.o-content{
    display: block;
    width:100%;    
    padding: 2rem 1% 0 31%;

    @include mq('tablet-wide') {
        padding: 2rem 1% 0 26%;
    }

    @include mq('desktop-wide') {
        padding: 2rem 1% 0 21%;
    }

    @include mq('ultra-wide') {
        padding: 2rem 1% 0 16%;
    }

    @include mq('xxx-wide') {
        padding: 2rem 1% 0 13.5%;
    }
    
    & &{
        padding:0;
    }
}