.o-header{
   //background: $color-primary;
   background: $white;
   //color: $light-color;
   color: $color-primary;
   position:fixed;
   top:0;
   height:50px;
   width:100%;
   //padding:0 1rem;
   z-index:99;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);

   a{
       color:inherit;
       text-decoration: none;
   }

   h3#app-title{
       margin:.7em .5em .5em .5em !important;
       //color:$white;
       color:$color-primary;
       font-size: 1.35em;

       &.app-title--preview{
           //padding-left:3em;
           //display:none;
           //border:red 5px solid;
           @include mq('tablet', 'max') {
                //border:blue 3px solid;
                padding-left: 0em;
                //display:none;
            }
       }

       @include mq('tablet', 'max'){
            font-size:1em;
            margin: .75em 0 !important;
            transform:translateX(-50%);
        }
   }

   ul{
       list-style: none;
       padding:0 0 0 4rem;
       margin:0;

       @include mq('tablet', 'max'){
            padding:0 0 0 50%;
        }

       li{
           display: inline-block;
           margin-right: 1rem;
       }
   }
   
   &__back,
   &__trigger{
        z-index:2;
        position:fixed;
        top:0;
        left:0;
        width:4rem;
        height:50px;
        //background: #192b3c;
        background:$color-primary;
        padding:1rem 1.25rem;
    }

    &__trigger i:nth-last-of-type(1){
        display: none;
    }

    &__trigger > i {
        display: inline-block;
        //margin:1em 1.5em;
        fill:$light-color;
    }

    @include mq('tablet') {

        &__trigger{
            width:4em;
        }

        ul{
            padding:0 0 0 4rem;
        }        

    }

    @include mq('tablet-wide', 'min'){
        h3#app-title.app-title--preview{
            //border:solid green 4px;
            padding-left:3em;
        }
    }

    @include mq('tablet-wide') {

        &__trigger{
            display: none;
        }

        ul{
            padding:0 0 0 0;
        }

    }

}

.menu-open .o-header {
    &__trigger i:nth-last-of-type(1){
        display: inline-block;
    }
    &__trigger i:nth-last-of-type(2){
        display: none;
    }
}